<p>
    To use the control room, you should know that all you really need to do is press the start button.
</p>
<p>
    Pressing any button at the wrong time can actually break the escape room, so please only press buttons if you know what you're doing. 
</p>
<p>
    Pressing the reset button sets the escape room back to its original, staring state.
</p>
<p>
    Pressing the start button starts a sequence of events, which will automatiacally switch to other views when appropriate. 
</p>
<p>
    Pressing the timer button switches to the timer, but it will reset it everytime you move to it or away from it. 
</p>
<p>
    Pressing the end button moves to the vicortory screen. 
</p>