{% extends "layout.html" %}

{% block body %}

    <script src="/static/scripts/controlroom.js" defer></script>
    <link rel="stylesheet" href="/static/styles/controlroom.css">
    <div id="control-room">
        <div id="control-bar">
            <span>
                <button id="preButton">Reset Escape Room</button>
                <button id="startButton">Start Escape Room</button>
                <button id="timerButton">Start Timer</button>
                <button id="wonButton">Win Escape Room</button>
                <button id="lostButton">Lose Escape Room</button>
            </span>
        </div>
        <h1>View from Escape Room:</h1>
        <iframe src="/escaperoom" width="100%", height="80%"></iframe>
        <a href="/controlroom/howto">How to use control room</a>
    </div>

{% endblock %}