{% extends "layout.html" %}

{% block body %}

    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/scripts/update.js" defer></script>
    <div id="pre-content">
        <div id="pre-content-wrapper">
            <h1>Welcome to MetzgerMining Industries!</h1>
            <p>
                You have just boarded Orbital Space Station 7. Orbital Space Station 7 sits outside the orbit of neptune near the kuiper belt. The space station is property of MetzgerMining Industries, a company that focuses
                mainly on space mining. 
            </p>
            <p>
                Every crew that works for MetzgerMining gets their own complementary BretBot. This bot is designed to ensure the crew's adherance to safety protocols. 
            </p>
            <p>
                <i>Insert Metzger Mining logo here</i>
            </p>
        </div>
    </div>

{% endblock %}