{% extends "layout.html" %}

{% block head %}

    <script src="/static/scripts/update.js"></script>
    <script src="/static/scripts/start.js" defer></script>
    <link rel="stylesheet" href="/static/styles/styles.css">

{% endblock %}


{% block body %}

    <div id="start-content">
        <div id="metzgerVideoContainer">
            <video autoplay controls id="metzgerVideo">
                <source src="/static/media/metzger.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    
{% endblock %}